body{
    margin: 0 auto;
    max-width: 100%
    color: #555;
    background-color: #F5F5F5;
    font-family: 'Permanent Marker', cursive; 
    text-align: center; 
}

a{
    color: crimson;
    text-decoration: none;
}