body{
    margin: 0 auto;
    max-width: 100%
    color: #555;
    background-color: #F5F5F5;
    font-family: 'Permanent Marker', cursive;  
}

.fotka{
    border-color:#555;
    border-style: solid;
    border-width: 3px;
    float: left;
    margin: 0rem 3rem; 
    border-radius: 50%;
}

p{
    font-family: 'Kalam', cursive;
}

h1{
    color: crimson;
    text-align: center;
}
a{
    color: crimson;
    text-decoration: none;
}
nav li{
text-align: center;
display: inline-block;
padding: 1em 12em;
background-color: 
margin: auto 0;
border-style: none solid;
border-radius: 3%;
border-color:#555;
border-width: 1px;

}

nav{
    border-style: solid;
    border-width: 1px;
    margin: 0;    
}

nav ul{
    padding: 0;
    display: block;
    margin:0;
    list-style-type: none;
    
}
nav div{
    text-align: center;
    padding: 0;
}

nav li:hover{
    background-color: #FFFAF0;
}

section{
    border-bottom: tomato;
}

