html{
    box-sizing: border-box;
}

*{
    box-sizing: inherit;
}

body {
    margin: 2px;
    max-width: 100%
    color: #555;
    background-color: #F5F5F5;
    font-family: 'Permanent Marker', cursive;
}

.fotka{
    border-color:#555;
    border-style: solid;
    border-width: 3px;
    float: left;
    margin: 0rem 3rem; 
    border-radius: 50%;
}

p{
    font-family: 'Kalam', cursive;
}

h1{
    color: crimson;
    text-align: center;
}
a{
    color: crimson;
    text-decoration: none;
}
nav li{
    text-align: center;
    display: inline-block;
    padding: 1em 12em;
    background-color: #F5F5F5;
    margin: auto 0;
    border-style: none solid;
    border-radius: 3%;
    border-color:#555;
    border-width: 1px;
    font-size: 1rem;
    width: 50%;
    }

    nav{
        border-style: solid none;
        margin: 0; 
        text-align: center;   
    }
    
    nav ul{
        padding: 0;
        display: block;
        margin:0;
        list-style-type: none;
        font-size: 0;
        
    }


nav li:hover{
    background-color: #555;
}

section{
    border-bottom: tomato;
}

